body {
    background-color: #010014;
    background-image: url("../img/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.form-login {
    margin-top: 20vh;
    padding: 20px;
    background-color: rgba(55, 55, 55, 0.7);
}