body {
    background-image: url(../img/background.jpg);
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #121D2F !important;
    border-bottom: 4px solid #2A9D8F;
}

.navbar-brand {
    color: #2A9D8F !important;
    font-weight: bolder;
}

.nav-link {
    font-weight: bold;
    color: #2A9D8F!important;
}

.nav-link:hover {
    color: white!important;
}

.active {
    color: white!important;
    text-decoration: underline;
}

.navbar-toggler {
    color: #2A9D8F!important;
    margin: 5px;
}

main {
    min-height: 80vh;
}

.form {
    padding: 20px;
    font-weight: bold;
}

.color {
    background-color: rgba(0, 0, 0, 0.7) !important;
    color: white !important;
}

.tabla__texto__display{
    display: none;
}

@media screen and (min-width: 1100px) {
    .tabla__texto__display{
        display: table-cell;
    }
}